/* eslint-disable */
.trackerList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
}

.tierRow {
}

.trackerRow {
  margin: 2px 0 8px 0;
  padding: 3px 0 3px 2px;
}

.tierRow:nth-child(even) {
  background-color: var(--color-inspector-row);
}

.trackerInfo {
  display: flex;
  justify-content: space-between;
}

.trackerActivity {
  color: var(--color-inspector-tracker-font);
}

.trackerActivityRow {
  margin: 0;
  padding: 2px;
}

.trackerHost {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-inspector-tracker-fontUrl);
}

.trackerTier:nth-child(even) {
  background-color: var(--color-central);
}
.trackerTier {
  margin: 0;
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
}

.trackerStats {
  color: var(--color-inspector-tracker-font);
  width: 150px;
  margin: 0;
  padding-right: 3px;
}

.trackerStatsRow {
  padding: 1px;
  display: flex;
}

.trackerStatsTerm {
  flex: 3;
  font-weight: bold;
  text-align: right;
}

.trackerStatsDescription {
  flex: 1;
  margin-left: 3px;
}
