/* eslint-disable */
.row {
 display: flex;
 padding-bottom: 10px;
}

.row input {
 margin-right: 5px;
}

.row label {
 flex: 1;
 margin-bottom: 0;
}

/* --- Switch --- */
.text {
  color: var(--dialog-font);
}

.off {
  & .thumb {
    background-color: var(--dialog-switch-off-thumb);
  }
}

.on {
  & .thumb {
    background-color: var(--dialog-switch-on-thumb);
  }
}
/* ---------------*/
