/* eslint-disable */
.peerList {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-inspector-row-alt);
}

.peerRow:nth-child(even) {
  background-color: var(--color-inspector-row-alt);
}

.peerRow:nth-child(odd) {
  background-color: var(--color-inspector-row);
}

.encryptedCol {
  width: 16px;
}

.upCol {
  width: 70px;
}

.downCol {
  width: 70px;
}

.percentCol {
  width: 30px;
  padding-right: 5px;
  text-align: right;
}

.statusCol {
  width: 40px;
  padding-right: 5px;
}

.addressCol {
  width: 180px;
}

.clientCol {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.morePeersBtn {
  margin-bottom: 10px;
}

.morePeersBtn.button.primary {
  background-color: var(--color-inspector-button);
}
