@import "normalize.css";

:global body {
  margin: 0px;
  padding: 0px;

  /* font: 62.5% "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif; */
  font: 62.5% "Roboto";

  height: 100vh;
}


:global #root {
  height: 100vh;

}

.layout {
  display: block;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container__inner {
  display: flex;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  bottom: 35px;
  overflow-y: auto;
  background-color: var(--color-central);
}

.main {
  height: 100%;
  width: 100%;
}

/* ---- NavDrawer ----*/
.nav_drawer {
  display: flex;
  flex: 1;
  border-right-color: var(--color-app-nav-drawer-border) !important;
}

.sidebarDrawer,
.navDrawerDrawer {
  background-color: var(--color-central);
  width: 16rem;
}
/* -------------------*/

.list {
  flex: 1;
}

.details {
  min-width: 600px;
  flex: 1;
  overflow-y: auto;
  border-left: 1px solid #888;
}
