.rightOptions [data-react-toolbox="button"] {
  color: white !important;
}

/* --- Menu --- */
.menuItem {
  color: var(--color-menu-font);

  &:not(.disabled):hover {
    background-color: var(--color-menu-hover-bg);
  }

  & .ripple {
    color: var(--color-menu-ripple);
  }
}

.outline {
  background-color: var(--color-menu-bg);
}
/* ------------ */
