/* eslint-disable */
.inspector {
  text-align: left;
  padding: 15px;
}

div.inspectorCloseButton {
  text-align: right;
}

.inspectorCloseButton.button.primary {
   background-color: var(--color-inspector-button);
}

.inspector h1 {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
}

.iconEdit {
  vertical-align: baseline;
  color: var(--color-inspector-icon);
}

/* Row */
.row {
 display: flex;
 padding-bottom: 10px;
}

.key {
 width: 120px;
}

.value {
 flex: 1;
}

/* --- Tabs --- */
.pointer {
  background-color: var(--color-inspector-pointer);
}

.pointer.disabled {
  background-color: red;
}

.label {
  color: var(--color-inspector-tab);

  &:focus {
    background-color: transparent;
  }
}

.label.active, .icon.active {
  color: var(--color-inspector-tab-active);
}
/* -------------*/
