.rightOptions {
  color: white;
  width: 25px;
}

.rightIcon {
  font-size: 24px;
}

/* --- Menu --- */
.menuItem {
  color: var(--color-menu-font);

  &:not(.disabled):hover {
    background-color: var(--color-menu-hover-bg);
  }

  & .ripple {
    color: var(--color-menu-ripple);
  }
}

.outline {
  background-color: var(--color-menu-bg);
}
/* ------------ */
